* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FAF5F3;
    
padding: 32px 0 66px 0; }
.father {
    display:flex;
    flex-direction: column;
    background-image: url(./pattern-light-bg.svg);
    margin-top: 40px;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    
}
.logo {
    display: flex;
    justify-content: start;
    width: 100%;
    
}
.f1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    
}

.star {
    display: flex;
    width: fit-content;
    list-style: none;
}
.left > img {
    width: 536px;
    height: 660px;
    border-radius: 30px;
}
.right > h1 {
    font-family: Martian Mono;
    font-weight: bold;
    font-size: 62px;
    line-height: 120%;
    background: linear-gradient(107deg, #FF9A60 -11.37%, #062630 61.84%);
    background-clip: text;
    color: transparent;
}
.btn {
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: #FFF5EF;
    border-radius: 10px;
    border: 2px #062630 solid;
    min-height: 60px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    gap: 16px;
}
.avatar {
    width: 150px;
}
.right > p {
    color: #385159;
    font-size: 20px;
    line-height: 140%;
    font-family: Inter;
    width: 500px;
}
.left {
    margin-right: 200px;
}